@import "tailwindcss";

@font-face {
    font-family: 'Fondamento-Regular';
    src: url('/assets/fonts/Fondamento-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }